<body>
  <div class="wrapper">
      <div class="articles-wrapper">

      <!--   ARTICLE TITLE -->
        <div class="article-header">
          <h1><%= @article.title %></h1>
          <hr />
        </div>

      <!--   ARTICLE CONTENT -->
        <div class="article-content">
          <p><%= markdown(@article.content) %></p>
          <h5>Tagged: #<%= @article.tag.name %><br>
            Published <%= time_ago_in_words @article.created_at %> ago by <%= link_to @article.user.first_name, user_path(@article.user) %>. <br>
            Updated <%= time_ago_in_words @article.updated_at %> ago.</h5>
        </div>

       <!--  ARTICLE NAV LINKS -->
        <div class="article-buttons">
          <% if current_user %>
            <p class="article-nav-buttons"><%= link_to 'Edit', edit_article_path(@article) %> </p>
            <p class="article-nav-buttons"><%= link_to 'Delete', @article, method: :delete, data: { confirm: "YOU SURE?" } %></p>
            <p class="article-nav-buttons"><a href="/articles">Back to articles</a></p>
          <% else %>
            <p class="article-nav-buttons"><a href="/articles">Back to articles</a></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</body>
