<p id="notice"><%= notice %></p>

<div class="header">
  <h1><%= @article.title %></h1>
</div>
<hr />

<div class="article-content">
  <p>
    <%= markdown("#{@article.content}") %>
  </p>

  <div id='tags'>
      Tagged: <%= "#{@article.tag.name}" %>
  </div>

  <h4>Published <%= time_ago_in_words @article.created_at %> ago
    by <%= @article.user.first_name %> <%= @article.user.last_name %> </h4>

  <h4>Updated <%= time_ago_in_words @article.updated_at %> ago by
    <%= current_user.first_name %>   <%= current_user.last_name %></h4>
</div>

<% current_user.first_name %>
<div class="article-buttons">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Delete', @article, method: :delete, data: { confirm: "YOU SURE?" } %><br><br>
  <%= link_to 'Back to articles', articles_path %>
</div>
