<body>

  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="new-user-form">

    <h2 class="header-text">Create Account</h2>

    <div class="field">
      <%= f.text_field :first_name, class: 'input-box', placeholder: 'First Name' %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :last_name, class: 'input-box', placeholder: 'Last Name' %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :email, class: 'input-box', placeholder: 'Email' %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :password, class: 'input-box', placeholder: 'Password'%>
    </div>
    <br>
    <div class="actions">
      <%= f.submit :Submit, id:'submit-button' %>
    </div>
    <% end %>
  </div>

</body>