<p id="notice"><%= notice %></p>

<div class="new-user-signup">

  <p>
    <strong>First name:</strong>
    <%= @user.first_name.capitalize %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name.capitalize %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <!--
  # show all articles by this user: -->
  <p>
    <strong>Posted articles:</strong>
    <ul>
    <% @user.articles.each do |article| %>
      <li><%= link_to article.title, article  %></li>
    <% end %>
    </ul>
  </p>

</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


