<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <title>Code + Design</title>
</head>

<body>
  <div id="wrapper">
    <div id="main">
      
      <div class="nav-bar">
      
        <div class="login-nav">
          <% if current_user %>
            <div id="loggedin-username">
              <b>  <%= link_to(current_user.first_name, user_path(current_user)) %> </b>
            </div>
          <% else %>
            <%= link_to 'Log In', '/login' %>
          <% end %>
          <%= link_to 'Log Out', '/logout' %>
        </div>

        <div class="logo">
          <h2><a href="/articles">Code + Design</a></h2>
        </div>

      </div>

      <div id="title">
        <h1><a href="/articles">Code + Design</a></h1>
      </div>

      <div class="notice-div">
        <p id="notice"><%= notice %></p>
      </div>

      <div id="main-content">
        <%= yield %>
      </div>
    </div>
  </div>

  <div id="footer">
    <div id="signature">
      <h5>Made with <img src='http://brightnewday.dk/img/heart.png' width=20px;> by <a href="https://github.com/yukanagai/wiki">Yuka Nagai</a></h5>
    </div>
  </div>

</body>
</html>
